<a href="https://colab.research.google.com/github/KacperKaczmarczyk/data-science-bootcamp/blob/main/02_pandas/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Podstawowe struktury danych: pd.Series](#a1)
2. [Podstawowe struktury danych: pd.DataFrame](#a2)
3. [Selekcja kolumn](#a3)

In [2]:
import pandas as pd
pd.__version__

'1.3.5'

### <a name='a1'></a>  Podstawowe struktury danych: pd.Series

In [4]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [6]:
s = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [7]:
s = pd.Series(data=[3.2,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3.2
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [8]:
import numpy as np

np.nan

nan

In [9]:
s = pd.Series(data=[3.2,np.nan,4,6], index=['a','b','c','d'], name='sample')
s

a    3.2
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [11]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [18]:
s = pd.Series(data=np.arange(10,20),index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [20]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [23]:
s = pd.Series(data=['python','java','sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [25]:
s.dtypes

dtype('O')

In [16]:
type(s)

pandas.core.series.Series

In [17]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [26]:
s.shape

(3,)

In [57]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazone': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazone       1900.0
KGHM             NaN
dtype: float64

In [28]:
price['CD Projekt']

60

In [29]:
price[1]

60

In [40]:
price.count() #zlicza liczbę obiektów

3

In [42]:
price.value_counts(dropna=False) #zlicza liczbę wystąpień poszczególnych danych

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [34]:
price.sum() #sumuje wartości

2160

In [36]:
price.max()

1900

In [37]:
price.min()

60

In [43]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [45]:
price.nlargest(2) #przekazuje n największych pozycji

Amazone    1900.0
Apple       200.0
dtype: float64

In [46]:
price.nsmallest(2) #przekazuje n najmniejszych pozycji

CD Projekt     60.0
Apple         200.0
dtype: float64

In [47]:
price.rank() #tworzy ranking indexów po wartościach

Apple         2.0
CD Projekt    1.0
Amazone       3.0
KGHM          NaN
dtype: float64

In [48]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazone       1900.0
KGHM             NaN
dtype: float64

In [49]:
price.sort_values(ascending=False)

Amazone       1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [58]:
price_pln = price.apply(lambda x: x * 3.8)
price_pln

Apple          760.0
CD Projekt     228.0
Amazone       7220.0
KGHM             NaN
dtype: float64

In [59]:
price

Apple          200.0
CD Projekt      60.0
Amazone       1900.0
KGHM             NaN
dtype: float64

### <a name='a2'></a>  Podstawowe struktury danych: pd.DataFrame

In [62]:
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [63]:
df = pd.DataFrame(data=[12,12,32], index=['first','second','third'], columns=['col1'])
df

        col1
first     12
second    12
third     32

In [64]:
df = pd.DataFrame(data={'WIG20':['PKN Orlen','PKO BP'],
                        'mWIG40': ['Amica','Playway']})
df

       WIG20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [89]:
df = pd.DataFrame(data=[[12,12,32], [23,12,10]], index=['first','second'], columns=['col1','col2','col3'])
df

        col1  col2  col3
first     12    12    32
second    23    12    10

In [68]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [69]:
df.index

Index(['first', 'second'], dtype='object')

In [70]:
df.values

array([[12, 12, 32],
       [23, 12, 10]])

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      int64
 1   col2    2 non-null      int64
 2   col3    2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [72]:
df.describe()

            col1  col2       col3
count   2.000000   2.0   2.000000
mean   17.500000  12.0  21.000000
std     7.778175   0.0  15.556349
min    12.000000  12.0  10.000000
25%    14.750000  12.0  15.500000
50%    17.500000  12.0  21.000000
75%    20.250000  12.0  26.500000
max    23.000000  12.0  32.000000

In [73]:
df.describe().T

      count  mean        std   min    25%   50%    75%   max
col1    2.0  17.5   7.778175  12.0  14.75  17.5  20.25  23.0
col2    2.0  12.0   0.000000  12.0  12.00  12.0  12.00  12.0
col3    2.0  21.0  15.556349  10.0  15.50  21.0  26.50  32.0

### <a name='a3'> </a> Selekcja kolumn

In [74]:
df

        col1  col2  col3
first     12    12    32
second    23    12    10

In [76]:
type(df['col1'])

pandas.core.series.Series

In [77]:
df[['col1']]

        col1
first     12
second    23

In [78]:
type(df[['col1']])

pandas.core.frame.DataFrame

In [86]:
df.columns = ['a','sprzedaz grudzien','c']
df

         a  sprzedaz grudzien   c
first   12                 12  32
second  23                 12  10

         a   b   c
first   12  12  32
second  23  12  10

In [83]:
df.a

first     12
second    23
Name: a, dtype: int64

In [84]:
type(df.a)

pandas.core.series.Series

In [87]:
df['d'] = df.a + df.c
df

         a  sprzedaz grudzien   c   d
first   12                 12  32  44
second  23                 12  10  33

In [90]:
df.loc['first']

col1    12
col2    12
col3    32
Name: first, dtype: int64

In [93]:
df.loc['first','col2']

12

In [94]:
df.loc[:,'col2']

first     12
second    12
Name: col2, dtype: int64

In [91]:
df.iloc[0]

col1    12
col2    12
col3    32
Name: first, dtype: int64

In [95]:
df.iloc[0,1]

12

In [96]:
df.iloc[:,1]

first     12
second    12
Name: col2, dtype: int64